<!-- Content  ============================================= -->
<div id="content">

    <!-- Slideshow Carousel
    ============================================= -->
    <div class="owl-carousel owl-theme single-slideshow" data-autoplay="true" data-loop="true" data-autoheight="true" data-nav="true" data-items="1">
      <div class="item">
        <section class="hero-wrap section shadow-md">
          <div class="hero-mask opacity-9 bg-dark"></div>
          <div class="hero-bg" style="background-image:url('../../../assets/images/bg/image-1.jpg');"></div>

          <div class="hero-content py-2 py-lg-5">
            <div class="container text-center">
              <h2 class="text-16 text-white">Manage your backlog</h2>
              <p class="text-5 text-white mb-4">Quickly and easily manage your product and sprint backlog<br class="d-none d-lg-block">
              </p>
            </div>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="hero-wrap section shadow-md">
          <div class="hero-mask opacity-9 bg-dark"></div>
          <div class="hero-bg" style="background-image:url('../../../assets/images/bg/image-3.jpg');"></div>
          <div class="hero-content py-2 py-lg-5">
            <div class="container text-center">
              <h2 class="text-16 text-white">Manage and increase the performance</h2>
              <p class="text-5 text-white mb-4">Quickly and easily manage your team and individual performance<br class="d-none d-lg-block">
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- Slideshow end -->

  </div>
  <!-- Content end -->
